bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.SpamWatch.dir/
.idea/.idea.SpamWatch/.idea/.gitignore
.idea/.idea.SpamWatch/.idea/encodings.xml
.idea/.idea.SpamWatch/.idea/indexLayout.xml
.idea/.idea.SpamWatch/.idea/misc.xml
.idea/.idea.SpamWatch/.idea/vcs.xml
src/.idea/.idea.SpamWatch/.idea/.gitignore
src/.idea/.idea.SpamWatch/.idea/.name
src/.idea/.idea.SpamWatch/.idea/encodings.xml
src/.idea/.idea.SpamWatch/.idea/indexLayout.xml
src/.idea/.idea.SpamWatch/.idea/misc.xml
src/.idea/.idea.SpamWatch/.idea/vcs.xml
src/.idea/
